button {
  background-color: #845ec2;
  float: right;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
#subTitle {
  text-align: center;
}

#startup {
  background-color: #ffc75f;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
