h1 {
  font-family: "Courier New", Courier, monospace;
}

#translate {
  width: auto;
  background-color: #ffc75f;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

#images {
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
